.order-details-container {
    background-color: #fff;
    flex-grow: 1;
    border-radius: 6px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    width: 85vw;
  }
  
  .options-list-container {
    display: flex;
    margin-bottom: 16px;
  }
  
  .option-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 130px;
    font-size: 12px;
    background-color: transparent;
    border: 2px solid rgb(181, 173, 173);
    border-radius: 4px;
    color: black;
    padding-left: 14px;
    align-self: center;
    margin-right: 10px;
  }
  
  .icon {
    font-size: 18px;
    margin-right: 12px;
  }
  
  .option-name {
    font-family: Roboto;
    font-size: 12px;
  }
  
  .refresh-btn {
    background-color: rgb(0, 183, 255);
    border-radius: 4px;
    padding: 10px;
    height: 35px;
    width: 110px;
    border: 0;
    margin-left: auto;
    color: #fff;
  }
  
  .refresh {
    margin-left: 8px;
  }
  
  .table-data-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }
  
  .table-header {
    background-color: #f2f2f2;
    height: 50px;
    display: flex;
  }
  
  .option {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 6%;
    margin: 10px 0;
    padding: 0px 10px;
    margin-left: 40px;
  }
  
  .item-description {
    all: unset;
    font-size: 12px;
  }
  
  .option1 {
    width: 12%;
    justify-content: flex-end;
  }
  
  .option1 input[type='checkbox'] {
    background-color: rgb(130, 123, 123) !important;
  }
  
  .option2 {
    width: 14%;
    border-right: 1px solid lightgrey;
  }
  
  .option3 {
    width: 16%;
    border-right: 1px solid lightgrey;
  }
  
  .option4 {
    width: 10%;
    border-right: 1px solid lightgrey;
  }
  
  .option5 {
    width: 20%;
    border-right: 1px solid lightgrey;
  }
  
  .option6 {
    width: 10%;
    border-right: 1px solid lightgrey;
  }
  
  .option7 {
    width: 14%;
    border-right: 1px solid lightgrey;
  }
  
  .option8 {
    width: 14%;
  }
  
  .table-details {
    background-color: #fff;
    height: 50px;
    display: flex;
    margin-bottom: 1px;
    margin-left: 10px;
  }
  
  .table-details .option p {
    font-size: 12px !important;
    opacity: 0.7;
  }
  
  .table-details .options {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 200px;
    border-right: none;
  }
  
  .table-details .option2 {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    border-right: none;
  }
  
  .table-details .option3 {
    color: rgb(0, 195, 255);
    width: 16%;
    border-right: none;
  }
  
  .table-details .option4 {
    border-right: none;
  }
  
  .table-details .option5 {
    border-right: none;
  }
  
  .table-details .option6 {
    border-right: none;
  }
  
  .table-details .option7 .item-description {
    border: 1px solid rgb(79, 125, 10);
    border-radius: 4px;
    padding: 4px;
    color: rgb(79, 125, 10);
    background-color: rgba(79, 125, 10, 0.1);
  }
  
  .table-details .option7 {
    border-right: none;
  }
  
  .table-details .option8 {
    border-right: none;
  }
  
  .table-details .item-select {
    border: 1px solid grey;
    display: flex;
    align-items: center;
    background-color: transparent;
    padding: 5px;
    border-radius: 5px;
  }
  
  .actions {
    color: black;
  }
  
  .page-change-btn-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: absolute;
    bottom: 20px;
    right: 20px;
  }
  
  .change-page-btn {
    background-color: transparent;
    border: 1px solid lightgrey;
    border-radius: 4px;
    padding: 2px;
    width: 22px;
    margin-left: 10px;
  }
  
  .page {
    margin-left: 2px;
    color: lightgrey;
  }
  
  .change-page-no {
    width: 22px;
    height: 22px;
    text-align: center;
    background-color: transparent;
    border: 1px solid;
    border-radius: 4px;
    padding: 2px;
    color: rgb(0, 195, 255);
    border-color: rgb(0, 195, 255);
    margin-left: 10px;
    font-size: 14px;
  }
  
  .page-count {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25px;
    width: 85px;
    background-color: transparent;
    border: 2px solid lightgrey;
    border-radius: 4px;
    color: black;
    margin-left: 20px;
    font-size: 12px;
  }
  